#navbar {
  background-color: #4f4d53;
  height: 48px;
}
#logo {
  margin-left: 20%;
  vertical-align: middle;
  padding-top: 10px;
}
h1 {
  color: #4f4d53;
  font-size: 100px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-left: 20%;
  padding-top: 10%;
}
#header {
  background-image: url("./media/img_hero.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 500px;
}
h2 {
  color: #e8be02;
  font-size: 64px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-left: 20%;
  padding-top: 5%;
}
p {
  color: #4f4d53;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding-top: 5%;
  padding-bottom: 10%;
}

h3 {
  color: #e8be02;
  font-size: 20px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

h4 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
#band {
  background-color: #e8be02;
  height: 12px;
}
#footer {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #4f4d53;
  padding-left: 20%;
  padding-right: 20%;
}
#footer > div {
  display: table-cell;
}
